$dark-blue: #0c1821;
$navy-blue: #1b2a41;
$gray-blue: #324a60;
$gray: #cdcadd;
$light-gray: #efeef4;
$white: #ffffff;
$red: #c81d25;

$ft-oswald: Oswald, sans-serif;
$ft-oxygen: Oxygen, sans-serif;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 150px;
  background-color: $navy-blue;
  border-bottom: 10px solid $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: $gray;
    font-family: $ft-oswald;
    font-size: 40px;
    font-weight: bold;
  }
}

.footer {
  width: 100vw;
  height: 75px;
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  bottom: 0px;

  &__txt {
    color: $white;
    font-family: $ft-oxygen;
    font-size: 12px;
    font-weight: normal;

    &--link {
      text-decoration: none;
      font-family: $ft-oswald;
      font-size: 16px;

      &:link {
        color: $white;
      }

      &:visited {
        color: $white;
      }

      &:hover {
        color: $red;
      }

      &:active {
        color: $white;
      }
    }
  }
}

.cards-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  background-color: $light-gray;
  border: 3px solid $gray-blue;
  border-radius: 10px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;

  &__row {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;

    &--between {
      padding: 20px;
      justify-content: space-between;
    }
  }

  &__txt {
    color: $navy-blue;
    font-family: $ft-oswald;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;

    &--price {
      color: $gray-blue;
      font-family: $ft-oxygen;
      font-weight: normal;
    }

    &--percent {
      font-family: $ft-oxygen;
      font-weight: normal;
    }

    &--small {
      font-size: 16px;
    }
  }
}
